@import '../../variables.scss';

.post {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0;

    &__body {
        cursor: pointer;
        p {
            font-weight: 300;
            font-size: 16px;
            color: #999;
            margin-bottom: 15px;
            margin-top: 5px;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        span {
            max-width: 30%;
            font-size: 0.8rem;
            font-weight: 300;
            color: #bbb;
            vertical-align: middle;
        }
    }
}

.postHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}