//breakpoints
$tiny-breakpoint: 390px;
$medium-breakpoint: 600px;
$big-breakpoint: 1200px;

//colors
$green-color: #5CB85C;
$light-gray-color: rgba(0, 0, 0, 0.3);
$red-color: #B85C5C; 

:export {
  tiny-breakpoint: $tiny-breakpoint;
  medium-breakpoint: $medium-breakpoint;
  big-breakpoint: $big-breakpoint;
  green-color: $green-color;
  light-gray-color: $light-gray-color;
  red-color: $red-color;
}